@import "tailwindcss";
@import "./fonts.css";

@theme {
  --font-sans: "NanumSquareRound", "sans-serif";
  --font-nanum: "NanumJungHagSaeng", "sans-serif";
  --font-maru: "MaruBuri", "sans-serif";
}

body {
  font-family: "MaruBuri";
}
