@import "tailwindcss";
@import "./fonts.css";

@theme {
  --font-sans: "NanumSquareRound", "sans-serif";
  --font-nanum: "NanumJungHagSaeng", "sans-serif";
}

body {
  font-family: "NanumJungHagSaeng";
}
