---
import BaseLayout from '../layouts/main.astro';
import "../styles/global.css";
import  Calendar from '../components/Calendar';
import Gallery from '../components/Gallery';
---
<BaseLayout>
	<section
  class="relative h-[80vh] w-full bg-cover bg-center text-white"
  style="background-image: url('/images/cover.png');"
  data-aos="fade-up"
>
  <!-- 어두운 오버레이 -->
  <div class="absolute inset-0 bg-black/40"></div>

  <!-- 텍스트 콘텐츠 -->
  <div class="relative z-10 flex flex-col justify-between h-full px-6 py-10 text-center">
    <h1 class="text-3xl md:text-5xl font-serif font-bold" data-aos="fade-down">
      We’re Getting Married!
    </h1>
		<div class="text-xl md:text-2xl">
			<p data-aos="fade-up" data-aos-delay="300">
				2025.11.22 (토) 13:00
			</p>
			<p data-aos="fade-up" data-aos-delay="300">
				세인트메리엘 메리엘홀
			</p>
		</div>
  </div>
</section>

<section class="py-20 bg-white text-center px-6" data-aos="fade-up">
  <h2 class="text-2xl font-semibold mb-6">💌 모시는 글</h2>
  <p class="text-base whitespace-pre-line">
    <p>서로의 하루가 되어,</p>
    <p>함께 웃으며 살아가기로 약속했습니다.</p>
    <p></p>따뜻한 축복으로 저희의 시작을 함께 해주세요.</p>
  </p>
	<div class="pt-10">
		<p class="text-lg mb-2">고영덕 · 김성분 의 차남 <strong>승현</strong></p>
		<p class="text-lg mb-6">박상기 · 김흥순 의 장녀 <strong>미주</strong></p>
	</div>
</section>

<section class="py-20 bg-gray-50 text-center px-6" data-aos="fade-up">
  <div>
    <h3 class="text-xl font-semibold mb-2">💍 예식 안내</h3>
		<p class="text-base">세인트메리엘 1층 메리엘홀</p>
		<Calendar  client:load/>
  </div>

	</section>

	<section>
		<h2 class="text-xl font-semibold mb-2">저희의 추억이 담긴 사진을 함께 나눕니다.</h2>
		<p class="text-gray-600 mb-6">기쁜 마음으로 준비한 순간들, 천천히 둘러봐 주세요.</p>
		<Gallery client:load />
	</section>

  <section class="py-20 bg-white" data-aos="fade-up">
    <h2 class="text-2xl font-semibold text-center mb-4">💒 웨딩홀</h2>
    <p class="text-center">서울 강남구 역삼동 123-45 00웨딩홀</p>
  </section>

  <section class="py-20 bg-gray-100" data-aos="fade-up">
    <h2 class="text-2xl font-semibold text-center mb-4">📞 혼주 연락처</h2>
    <ul class="text-center">
      <li>신랑 아버지: 010-0000-0000</li>
      <li>신부 어머니: 010-1111-1111</li>
    </ul>
  </section>

  <section class="py-20 bg-white" data-aos="fade-up">
    <h2 class="text-2xl font-semibold text-center mb-4">💳 계좌번호</h2>
    <ul class="text-center">
      <li>신랑: 국민 123456-78-910111</li>
      <li>신부: 우리 111222-33-444555</li>
    </ul>
  </section>
</BaseLayout>
