---
import BaseLayout from '../layouts/main.astro';
import "../styles/global.css";
import  Calendar from '../components/Calendar';
import Gallery from '../components/Gallery';
import NaverMap from '../components/NaverMap';
import MapNavigationButtons from '../components/MapNavigationButtons';

const clientKey = import.meta.env.PUBLIC_NAVER_MAP_CLIENT_KEY;

---
<BaseLayout>
	<section
  class="relative h-[80vh] w-full bg-cover bg-center text-white"
  style="background-image: url('/images/cover.png');"
  data-aos="fade-up"
>
  <!-- 어두운 오버레이 -->
  <div class="absolute inset-0 bg-black/40"></div>

  <!-- 텍스트 콘텐츠 -->
  <div class="relative z-10 flex flex-col justify-between h-full px-6 py-10 text-center">
    <h1 class="font-noto text-3xl md:text-5xl font-bold" data-aos="fade-down">
      We’re Getting Married!
    </h1>
		<div class="text-xl md:text-2xl">
			<p data-aos="fade-up" data-aos-delay="300">
				2025.11.22 (토) 13:00
			</p>
			<p data-aos="fade-up" data-aos-delay="300">
				세인트메리엘 메리엘홀
			</p>
		</div>
  </div>
</section>

<section class="py-20 bg-white text-center px-6" data-aos="fade-up">
  <h2 class="text-2xl font-semibold mb-6">💌 모시는 글</h2>
  <div class="text-2xl whitespace-pre-line font-nanum">
    <p>서로의 하루가 되어,</p>
    <p>함께 웃으며 살아가기로 약속했습니다.</p>
    <p>따뜻한 축복으로 저희의 시작을 함께 해주세요.</p>
  </div>
	<div class="pt-10">
		<p class="text-lg mb-2">고영덕 · 김성분 의 차남 <strong>승현</strong></p>
		<p class="text-lg mb-6">박상기 · 김흥순 의 장녀 <strong>미주</strong></p>
	</div>
</section>

<section class="py-20 bg-gray-50 text-center px-6" data-aos="fade-up">
  <div>
    <h3 class="text-xl font-semibold mb-2">💍 예식 안내</h3>
		<p class="text-base">세인트메리엘 1층 메리엘홀</p>
		<Calendar  client:load/>
  </div>

	</section>

	<section>
		<h2 class="text-xl font-semibold mb-2">저희의 추억이 담긴 사진을 함께 나눕니다.</h2>
		<p class="text-gray-600 mb-6">기쁜 마음으로 준비한 순간들, 천천히 둘러봐 주세요.</p>
		<Gallery client:load />
	</section>

  <section class="py-20 bg-white" data-aos="fade-up">
    <h2 class="text-2xl font-semibold text-center mb-4">💒 웨딩홀</h2>
    <p class="text-center">세인트메리엘 1층 메리엘홀</p>
    <p class="text-center text-gray-500 mb-4">서울 강남구 논현로79길 72</p>
    <NaverMap client:load  latitude={37.4960525}, longitude ={127.0328914} clientId={clientKey}  />
  </section>
  <section class="max-w-xl mx-auto px-4 py-10 text-left text-sm leading-relaxed space-y-6">
    <div>
      <h3 class="font-semibold text-brown-700">네비게이션 이용 시</h3>
      <p>
        서울 강남구 논현로 79길 72 올림피아센터 빌딩<br />
        <span class="text-gray-500 text-sm">
          (서울 강남구 역삼동 828-10 올림피아센터 빌딩)
        </span>
      </p>
      <MapNavigationButtons 
        client:load
        lat={37.4960525}
        lng={127.0328914}
        placeName="세인트메리엘 메리엘홀"
      />

    </div>
  
    <div>
      <h3 class="font-semibold text-brown-700">지하철 이용 시</h3>
      <p>
        강남역 2호선 1번 출구에서 약 200m 직진, 우리은행에서 우회전 후 약 300m 직진<br />
        강남역 신분당선 4번 출구에서 약 30m 직진, 358타워에서 좌회전 후 약 300m 직진
      </p>
    </div>
  
    <div>
      <h3 class="font-semibold text-brown-700">버스 이용 시</h3>
      <p>
        <span class="font-medium text-blue-600">간선버스(파랑)</span><br />
        140, 146, 341, 360, 400, 402, 420, 440, 441, 452, 470, 541, 542, 740, 741
      </p>
      <p class="mt-1">
        <span class="font-medium text-red-500">광역버스(빨강)</span><br />
        9404, 9408, M4403, M4434, M5438, M6427, M6439, M7412
      </p>
    </div>
  
    <div>
      <h3 class="font-semibold text-brown-700">셔틀버스 이용 시</h3>
      <p>
        강남역 1번 출구에서 셔틀버스 이용<br />
        <span class="text-gray-500 text-sm">(예식 진행 한 시간 전부터 운행)</span>
      </p>
    </div>
  </section>
  

  <section class="py-20 bg-gray-100" data-aos="fade-up">
    <h2 class="text-2xl font-semibold text-center mb-4">📞 혼주 연락처</h2>
    <ul class="text-center">
      <li>신랑 아버지: 010-0000-0000</li>
      <li>신부 어머니: 010-1111-1111</li>
    </ul>
  </section>

  <section class="py-20 bg-white" data-aos="fade-up">
    <h2 class="text-2xl font-semibold text-center mb-4">💳 계좌번호</h2>
    <ul class="text-center">
      <li>신랑: 국민 123456-78-910111</li>
      <li>신부: 우리 111222-33-444555</li>
    </ul>
  </section>
</BaseLayout>
