---
import "aos/dist/aos.css";
---

<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <script
      is:inline
      src="https://t1.kakaocdn.net/kakao_js_sdk/2.7.8/kakao.min.js"
      integrity="sha384-WUSirVbD0ASvo37f3qQZuDap8wy76aJjmGyXKOYgPL/NdAs8HhgmPlk9dz2XQsNv"
      crossorigin="anonymous"></script>

    <meta property="og:image" content="/images/cover.webp" />
    <meta property="og:title" content="승현💌미주, 저희 결혼합니다" />
    <meta
      property="og:description"
      content="2025.11.22(토) 13:00, 세인트메리엘"
    />
    <meta property="og:url" content="http://sh-mj-wedding.vercel.app/" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>승현💌미주 우리 결혼해요</title>
  </head>
  <body
    class="bg-orange-50 text-lg font-nanum text-gray-800 min-h-screen flex items-center justify-center"
  >
    <div class="w-full max-w-md px-4">
      <slot />
    </div>
    <script>
      import { aosInit } from "../js/aos";
      aosInit();
      // SDK를 초기화 합니다. 사용할 앱의 JavaScript 키를 설정해야 합니다.
      Kakao.init(import.meta.env.PUBLIC_KAKAO_JS_SDK_KEY);

      // SDK 초기화 여부를 판단합니다.
      console.log(Kakao.isInitialized());
    </script>
  </body>
</html>
